/simulink_model/slprj
/simulink_model
simulink_model/.DS_Store
/simulink_model/slprj
/simulink_model/slprj/sim/varcache/agrivoltaics_v1
/simulink_model/slprj/sim/varcache/agrivoltaics_v1
.DS_Store
simulink_model/.DS_Store
/simulink_model
simulink_model/slprj/sim/varcache/agrivoltaics_v1/varInfo.mat
simulink_model/slprj/sim/varcache/agrivoltaics_v1/varInfo.mat
